@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

:root {
  --font-satisfy: 'Cormorant+Garamond', "serif"; 
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  overflow-x: hidden;
  color: #776f60;
    background-color: #fff;
  font-family: var(--font-satisfy);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
