 

.contactContainer{
    position: relative;
   
}
.ContactUsSection {
    padding: 4rem 6rem;
    position: relative;  
    height: 100% !important;
    width: 80%;
    margin-top: 3rem !important;
   
   
    z-index: 1;
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
  }
  
  .ContactUsSection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ece9e4b8;    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
    z-index: -1; 
  }
  
  
  @media screen and (max-width: 768px) {
    .componentimageSection {
      display: none;
    }
    .ContactUsSection{
        padding: 0rem;
    }
  }