.loginMain {
    background-color: #ffffff !important;
    height: 100vh;
  }
  .signInBtn{
    background-color: #000000 !important;
  
  }
  
  .mt7{
      margin-top: 7rem;
  }
  @media (min-width: 1200px) {
    .loginBoxMain {
      width: 32%;
    }
  }
  @media (max-width: 1200px) {
    .loginBoxMain {
      width: 100%;
    }
  }